# General
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.history/

# Rust and Cargo
/target
Cargo.lock
/out

# Node.js and pnpm/npm
node_modules/
dist/
build/
.pnpm/
.pnpm-store/
pnpm-lock.yaml
package-lock.json

# React
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Tauri
/src-tauri/target
src-tauri/Cargo.lock

# C#, .NET and Visual Studio
*.csproj.user
*.sln.docstates
*.suo
*.user
*.userosscache
*.usertasks
_ReSharper*/
*/obj/
*/bin/
*.log
*.bak
*.tmp
[Bb]uild/
[Rr]elease/
[Dd]ebug/
_PublishedWebsites/
[Pp]ublish/
*.cachefile
*.dbmdl
*.ipch/
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vs/
*.vssscc
*.vsscc
*.psess
*.sap
*.ilk
*.lib
*.lst
*.exp
*.opt
*.obj
*.pch
*.idb
/$tf/
*.tlog
*.vspscc
*.unsuccessfulbuild
_UpgradeReport_Files/
*.pidb
*.svclog
*.vshost.exe
*.vshost.exe.config
*.DotSettings.user
*.DotSettings
*.rpt
*.ldb
*.mdf
*.ndf
*.snk
*.pfx
*.swc
*.resources
*.refresh
_private_/
*.nupkg
*.nuspec
packages/
*.ps1xml
*.testsettings
*.testrunconfig

# JetBrains IDEs
.idea/
*.iml
out/

# Executables
*.exe
*.dll
*.pdb

# Archives
*.tar.gz
*.tar.bz2
*.7z
